body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #e5e7eb;
}
.container{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 50px;
}

.pixel{
    flex-shrink: 0;
    border: 1px solid black;
}

button{
  background-color: #3882f6;
  color: #e5e7eb;
  padding: 8px 38px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
}