body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.container{
    width: 352px;
    height: 352px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 30px;
}

.pixel{
    flex-basis: 20px;
    flex-shrink: 0;
    height: 20px;
    border: 1px solid black;
}